@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Playfair+Display:wght@400;700&display=swap');
body {
    margin: 0px 0px;
    font-family: 'Arimo', sans-serif;
font-family: 'Playfair Display', serif;
}
#txt-input {
            width: 80%;
            height: 10vh;
            display: block;
            padding: 1rem;
            margin: 1rem;
        }
#output {
            border: 1px solid black;
            height: 10vh;
            width: 80%;
            margin: 1rem; 
            padding: 1rem;
        }
#title h1 {
    background-color: grey; 
    margin: 0px;
    text-align: center;
    color: turquoise; 
    padding: 1rem;
    font-size: 55px;
}
#here {
    font-size: 20px; 
    color: turquoise; 
    margin-left: 1rem;
    padding: 0.5rem;
    font-weight: bold;
}
#btn-translate {
    color: turquoise; 
    background-color: grey; 
    font-weight: bolder;
    font-size: 20px;
    margin-left: 1rem;
    padding: 0.5rem;
}
#about {
    background-color: grey; 
    color: turquoise;
    margin-bottom: 0px;
    margin-top:18rem;
    text-align: center;
    font-size: 32px;
}
#speak {
    background-color: grey; 
    font-size: larger;
    font-weight: bold;
    margin: 0px;
    color: turquoise;
    text-align: center;
    padding-bottom: 6rem;
}
